<nav>
    <div id="logo">
        <a routerLink="/home"><img src="assets/logo.png"></a>
    </div>
    <div id="app-search">
        <app-search></app-search>
    </div>
    <ul>
        <li>
            <div>
                <a routerLink="/upload"><img class="action-icon" src="assets/add.svg"></a>
            </div>
        </li>
        <li>
            <div>
                <a href="#"><img class="action-icon" src="assets/bell.svg"></a>
            </div>
        </li>
        <li>
            <div>
                <a routerLink="/setting"><img class="action-icon" src="assets/avatar.svg"></a>
            </div>
        </li>
    </ul>
</nav>