<div id="container">
    <div>
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <form [formGroup]="loginForm" (ngSubmit)="goLogin()">
                <mat-form-field>
                    <input matInput placeholder="username" type="text" formControlName="username">
                </mat-form-field>
                <div *ngIf="loginForm.controls.username.errors?.required && (loginForm.controls.username.dirty || loginForm.controls.username.touched)" class="alert">
                    username is required
                </div>
                <mat-form-field>
                    <input matInput placeholder="password" type="password" formControlName="pass">
                </mat-form-field>
                <div *ngIf="loginForm.controls.pass.errors?.required && (loginForm.controls.pass.dirty || loginForm.controls.pass.touched)" class="alert">
                    password is required
                </div>
                <div id="btn-group">
                    <button mat-raised-button color="primary" [disabled]="loginForm.invalid">login</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>