<div id="container">
    <div>
        <mat-card>
            <mat-card-title>Login</mat-card-title>
            <form>
                <mat-form-field>
                    <input matInput placeholder="Username" type="text">
                </mat-form-field>
                <p style="color:red">username is required</p>
                <mat-form-field>
                    <input matInput placeholder="Password" type="password">
                </mat-form-field>
                <p style="color:red">password is required</p>
                <div id="btn-group">
                    <button mat-raised-button color="primary">login</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>