app-navbar {
    position: fixed;
    z-index: 5;
    width: 100%;
}

#container {
    margin-top: 53px;
    position:absolute;
    padding:5px;
}
.wrapper{
    padding-top: 30px;
}

.wrapper-title h2{
    text-align: center;
}

.wrapper-videos{
    display: flex;
    justify-content: center;
    padding-top: 5px;
    width: 100vw;
}